body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #1F2937;
    height: 60px;
    color: white;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-container {
   background-color: #1F2937; 
   color: #f9faf8;
   flex-wrap: nowrap;
   padding: 100px 100px;
   gap: 24px;
   display: flex;
   justify-content: space-evenly;
}

.hero-image {
    max-width: 400px;
    max-height: auto;
    border-radius: 12px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    width: 350px;
}

.hero-subtext {
    color: #f9faf0e0;
    width: 400px;
}

.signup {
    background: #3882f6;
    color: white;
    max-width: fit-content;
    border: none;
    border-radius: 8px;
    margin-top: 6px; 
    padding: 8px 32px;
    font-size: 16px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 0 0 100px;
    align-items: center;
    margin-bottom: 40px;
}

.random {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 42px 0;
}

.items {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}

.info-img {
    width: 250px;
    height: 200px;
    border-radius: 12px;
    border: solid 3px lightblue;
}

.box-info {
    width: 250px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.815);
    font-style: italic;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 90px 200px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote-author {
    text-align: end;
    margin-top: 12px;
    font-weight: 900;
}